body {
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
#mainContainer {
    width: 858px;
    height: 400px;
    display: flex;
    flex-direction: row;
    border: solid 1px blue;

}

.startBox {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border: solid 1px red;  
    height: 100%;
    width: 33.333%;
}

.middleBox {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border: solid 1px red; 
    height: 100%;
    width: 33.333%  
}

.endBox {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border: solid 1px red; 
    height: 100%;
    width: 33.333%   
}

#piece-4{
    height: 20px;
    width: 40px;
    background-color: aqua;
 
}
#piece-3{
    height: 20px;
    width: 50px;
    background-color: aqua;
}
#piece-2{
    height: 20px;
    width: 60px;
    background-color: aqua;
}
#piece-1{
    height: 20px;
    width: 70px;
    background-color: aqua;
}

/* Pop-up vencedor */

#winner-popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

    width: 200px;
    height: 200px;
    background-color: brown;
}

.text-popups{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.btn-popups{
    width: 40px;
    height: 10px;
}

